.dxp-banner {
  background: linear-gradient(#2d4759, #0a0b0e);
  display: inline-block;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.dxp-logo {
	position: absolute;
}

body {
	margin: 0;
	padding: 0;
}

.font-weight-regular {
  font-weight: 400;
}

/* logo */
.dxp-logo-container {
  color: #FFF;
  height: 100%;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#dxp-rotation {
  min-height: 200px;
	max-height: 50%;
}

#dxp-rotation g {
  transform-origin: 50% 50%;
  animation: rotate linear forwards infinite;
}

#dxp-rotation .path {
  fill: none;
  stroke-linecap: squre;
}

#dxp-rotation .shape-1 {
  animation-duration: 35s;
}

#dxp-rotation .shape-1 .path {
  animation: dash-1 20s linear forwards infinite;
  stroke-dasharray: 35, 100%;
  stroke-dashoffset: 40;
}

#dxp-rotation .shape-2 {
  animation-duration: 50s;
}

#dxp-rotation .shape-2 .path {
  animation: dash-2 20s linear forwards infinite;
  stroke-dasharray: 135, 50%;
  stroke-dashoffset: 90;
}

#dxp-rotation .shape-3 {
  animation-duration: 40s;
}

#dxp-rotation .shape-3 .path {
  animation: dash-3 20s linear forwards infinite;
  stroke-dasharray: 110, 50%;
  stroke-dashoffset: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dash-1 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 135.7033233642578;
  }
}

@keyframes dash-2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 180.36383056640625;
  }
}

@keyframes dash-3 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 160.52256774902344;
  }
}